<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my One Month Python project</h1>
				<p>My is Zoe Zog and I'm the CEO of sleeping all day <a href="http://www.onemonth.com/courses/one-month-python">One Month Python</a>.</p>
				<a href="{{ url_for('index')}}">Back to Home Page</a>
			</div>
		</div>
	</body>
</html>